html, body {
  margin: 0;
  min-height: 100%;
} 

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  /*  --accent-color: rgb(060, 200, 170); */
  --accent-color: rgb(255, 90, 61);
/*  --accent-color: rgb(255, 255, 0); */

  --color1: #003049;
  --color2: #d62828; /* or 214, 40, 40 */
  --color3: #f77f00;
  --color4: #fcbf49;
  --color5: #eae2b7;
  --color5: #fffad9;
  --color5: #FFFFFF;
  --color6: #4986fc;

  --bg-color: var(--color1);
  --bg-color-pale: rgba(214, 40, 40, 0.10);
  --bg-hover-color: var(--color4);
  --bg-hover-color-pale: rgba(214, 40, 40, 0.25);
  --bg-button-color: var(--color1);
  --bg-button-hover-color: var(--color2);
  --bg-button-hover-color-alt: var(--color3);

  --text-color: var(--color1);
  --text-color-light: var(--color5);
  --text-hover-color-light: var(--color1);
  --text-button-color-light: var(--color5);
  --text-button-hover-color-light: var(--color1);

  --border-color: var(--color2);
  --border-hover-color: var(--color1);
  --highlight-color: var(--color2);
  --highlight-hover-color: var(--color2);
  --credits-color: gray;

  --nav-color: var(--color1);
  --nav-hover-color: var(--color2);


  --transition-time: 200ms;
  --padding-amount: 0.7em;

  background-color: var(--color5);
}

#root {
  /* max-width: 10000px;
  max-height */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Noto Serif", serif;
  line-height: 1.7;
  font-weight: 450;
  font-size: 11pt;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: var(--text-color);
}

h1 {
  line-height: 1.1;
  text-align: center;
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  line-height: 1.1;
  text-align: center;
}

h3 {
  font-size: 1.8em;
  line-height: 1.1;
  text-align: center;
}

h4 {
  font-size: 1.5em;
  line-height: 1.1;
  margin: 1em 0;
  text-align: center;
}

h5 {
  font-size: 1.25em;
  line-height: 1.1;
  margin: 1em 0;
  text-align: center;
}

h6 {
  font-size: 1em;
  line-height: 1.1;
  margin: 1em 0;
  text-align: center;
}

a {
  transition-duration: var(--transition-time);
  color: var(--highlight-color);
  text-decoration: none;
  font-style: italic;
  .nav-item {
    font-style: normal;
  }
  cursor: pointer
}

ul {
  ul {
	padding-left: 1.1em	
  } 
}

em {
  color: var(--highlight-color);
  transition-duration: var(--transition-time);
  font-style: normal;
}

code {
  font-family: "Roboto Mono", monospace;
  /*
  color: var(--highlight-color);
  */
  transition-duration: var(--transition-time);
  margin: 0 0.2em;
} 

hr {
  width:100%;
  overflow: visible;
  border: 1px solid var(--credits-color);
}

.scroll-less {
  scroll-margin-top: 80px;
}

.no-underline {
  text-decoration: none
} 

.no-underline:hover {
  text-decoration: none
} 

.card {
  padding: 1em;
  /* display: inline; */
  align-content: center;
  top: 0;
  left: 0;
  /* height: min-content; */
  width: min-content;
  /* outline: 1px solid orange */
}

.card-big {
  padding: 1em;
  /* display: inline; */
  /* align-content: right; */
  /* height: min-content; */
  width: min-content;
  /* outline: 1px solid orange */
}

.list {
  text-align: left;
  height: 2em;
  padding: 1em
}

.box {
  display: flex;
  gap: 1.5em;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0em 3em;
} 

.hamburger-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  outline: 2px solid var(--border-color);
  background-color: var(--nav-color);
  color: var(--nav-color);
  position: fixed;
  top: 5px;
  left: 5px;
  cursor: pointer;
  transition-duration: var(--transition-time);
}

.hamburger-picture {
  transition-duration: var(--transition-time);
}

.hamburger-button:hover {
  background-color: var(--nav-hover-color);
  outline-color: var(--border-hover-color);
  .hamburger-picture {
    content: url("/src/assets/hamburger_black.svg")
  }
}
.hamburger-button:after {
  .hamburger-navigation {
    right: 0px;
  }
}

.hamburger-navigation {
  list-style-type: none;
  position: fixed;
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  background-color: var(--nav-color);
  color: var(--text-color-light);
  /*
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  */
  padding: 0;
  margin: 0;
  top: 0%;
  outline: 2px solid var(--border-color);
  height: 100%;
  width: 12em;
  transition: left 0.25s, right 0.25s;
}

.top-hamburger-nav-item {
  border-top-right-radius: 25px;
  color: var(--text-color-light);
  padding: 0.5em 0;
  padding-right: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.cross {
  cursor: pointer;
}

.hamburger-nav-item {
  color: var(--text-color-light);
  height: 2.5em;
  font-size: 1.5em;
  transition-duration: var(--transition-time);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a .hamburger-nav-item {
  font-style: normal;
}

.hamburger-nav-item:hover {
  background-color: var(--nav-hover-color);
  color: var(--nav-color);
}

.hamburger-nav-item-github {
  height: 2.5em;
  font-size: 1.5em;
  transition-duration: var(--transition-time);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hamburger-github {
  transition-duration: var(--transition-time);
}

.hamburger-nav-item-github:hover {
  height: 2.5em;
  font-size: 1.5em;
  background-color: var(--nav-hover-color);
  .hamburger-github {
    content: url('/src/assets/github-mark/github-mark.svg')
  }
}

.hamburger-linkedin {
  transition-duration: var(--transition-time);
}

.hamburger-nav-item-linkedin {
  height: 2.5em;
  font-size: 1.5em;
  transition-duration: var(--transition-time);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hamburger-nav-item-linkedin:hover {
  background-color: var(--nav-hover-color);
  .hamburger-linkedin {
    content: url('/src/assets/in-logo/InBug-Black.png')
  }
}

.hamburger-github {
  width: 36px;
  height: 36px;
}

.hamburger-linkedin {
  width: 36px;
  height: 36px;
}

.hamburger-nav-item-language {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 1.5em;
  font-variation-settings: "wdth" 100;
  color: var(--text-color-light);
  height: 2.5em;
  width: 10em;
  font-size: 2em;
  transition-duration: var(--transition-time);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hamburger-nav-item-language:hover {
  background-color: var(--nav-hover-color);
  color: var(--nav-color)
}

.navigation {
  position: fixed;
  width: 100%;
  height: 3.5em;
  top: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--nav-color);
  border-bottom: 2px solid;
  border-color: var(--border-color);
  z-index: 2;
}

.left-nav-items {
  display: flex;
  /* gap: 10px; */
  align-items: stretch;
  position: relative;
}

.right-nav-items {
  display: flex;
  flex-direction: row-reverse;
  /* gap: 10px; */
  align-items: stretch;
  position: relative;
}

.nav-item {
  margin: auto;
  color: var(--text-color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0 var(--padding-amount);
  height: 100%;
  transition-duration: var(--transition-time);
}

.nav-item:hover {
  background-color: var(--nav-hover-color);
  color: var(--nav-color);
}

.nav-item-language {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 1.5em;
  /* font-variation-settings: "wdth" 100; */
  margin: auto;
  color: var(--text-color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 var(--padding-amount);
  transition-duration: var(--transition-time);
}

.nav-item-language:hover {
  background-color: var(--nav-hover-color);
  color: var(--nav-color)
}

.nav-item-github {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 var(--padding-amount);
  transition-duration: var(--transition-time);
}

.github {
  transition-duration: var(--transition-time)
}

.nav-item-github:hover {
  background-color: var(--nav-hover-color);
  .github  {
    content: url("/src/assets/github-mark/github-mark.svg");
    width: 24px;
    height: 24px;
  }
}

.nav-item-linkedin {
  margin: auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 var(--padding-amount);
  transition-duration: var(--transition-time);
}

.linkedin {
  transition-duration: var(--transition-time);
}

.nav-item-linkedin:hover {
  background-color: var(--nav-hover-color);
}

.nav-item-linkedin:hover .linkedin {
  content: url("/src/assets/in-logo/InBug-Black.png");
  width: 24px;
  height: 24px;
}

.text-box {
  flex: 1 1 300px;
  max-width: 600px;
  /* height: 500px; */
  /* min-width: 200px; */
  padding: 1em 1em;
  border-radius: 25px;
  outline: 2px solid var(--border-color);
  transition-duration: var(--transition-time);
  background-color: var(--bg-color);
  color: var(--text-color-light);
}

.text-box:hover {
  background-color: var(--bg-hover-color);
  color: var(--text-hover-color-light);
  outline-color: var(--border-hover-color);
  a, em, code {
    color: var(--highlight-hover-color);
  }
}

.headers {
  display: flex;
  /* min-width: 200px; */
  /* width: 100%; */
  /* margin: 0 -10em; */
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 75px;
  height: fit-content;
  /* background-color: var(--text-color); */
  color: var(--text-color);
}
/* 
.headers:hover {
  background-color: var(--bg-hover-color);
  color: var(--text-hover-color-light);
  color: var(--text-color);
  transition-duration: var(--transition-time)
} */

.top-part {
  position: relative; /* Needed for absolute children */
  /* width: auto; */
  /* min-height:200px;
  max-height: 500px; */
  /* overflow: hidden; */
  /* margin-top: 50px; */
  /* margin: 0 -10em; */
  /* outline: 2px solid green; */
}

.top-part-name {
  position: absolute;
  top: 40%;
  left: 50%;
  /* font-size: 5vw; */
  transform: translate(-50%, -50%);
  max-width: max-content;
  text-align: center;
  /* max-width: 500px; */
  /* height: max-content; */
  color: rgb(255, 255, 255);
}

.shaderCanvas {
  /* position: relative; */
  top: 0;
  left: 0;
  /* transform: translate(-100%,-50%); */
  width: 225px;
  height: 225px;
  cursor: pointer;
  outline: 2px solid var(--border-color);
  transition-duration: var(--transition-time);
  /* display: block; */
  /* outline: 5px solid rgb(0, 255, 21); */
  /* z-index: 0; */
}​

.shaderBox {
  position: absolute;
  width: 100%;
  height: 200px;
  z-index: -1;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  gap: 1.5em;
  align-self: stretch;
  /* width: 100%; */
  align-items: center;
  /* margin-top: 100px; */
  /* padding: 100em; */
  /* margin: 0 5%; */
  
  scroll-margin-top: 80px;
  /* outline: 2px solid red; */
  /* background-color: red; */
}

.header-copy {
  flex: 1 0 300px;
  h1 {
    text-align: left;
  } 
  h5 {
    text-align: left;
  } 
} 

.header-description {
  text-align: left;
  font-weight: normal;
} 

.courses-as-a-whole {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

/*
.other-courses {
  padding: 1em;
  border-radius: 25px;
  outline: 2px solid var(--border-color);
  color: var(--text-color);
  transition-duration: var(--transition-time);
}

.other-courses:hover {
  background-color: var(--bg-hover-color);
  color: var(--text-hover-color-light);
  outline-color: var(--border-hover-color);
  a {
    color: var(--text-color-light);
  }
}
*/

.courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1em;
  /* outline: 1px solid rgb(71, 0, 251); */
}

.course-names {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* width: min-content; */
  justify-content: center;
  padding: 0;
  flex: 1 1 200px;
  gap: 0.5em;
  /* border-radius: 25px; */
  /* outline: 1px solid var(--border-color); */
}

.course-ind {
  list-style-type: none;
  text-align: center;
  padding: 0 var(--padding-amount);
  font-style: normal;
  cursor: pointer;
  transition-duration: var(--transition-time);
  border-radius: 25px;
  background-color: var(--bg-button-color);
  color: var(--text-button-color-light);
  outline: 2px solid var(--border-color)
}

.course-ind-select {
  list-style-type: none;
  text-align: center;
  padding: 0 var(--padding-amount);
  font-style: normal;
  cursor: pointer;
  transition-duration: var(--transition-time);
  border-radius: 25px;
  text-decoration: none;
  background-color: var(--bg-button-hover-color-alt);
  color: var(--text-button-hover-color-light);
  outline: 2px solid var(--border-hover-color);
}

.course-ind-select:hover {
  text-decoration: none
} 

.course-ind:hover {
  text-decoration: none;
  background-color: var(--bg-button-hover-color);
  color: var(--text-button-hover-color-light);
  outline-color: var(--border-hover-color);
}

.other-courses-alone {
  text-align: center;
  padding: 0 var(--padding-amount);
  color: var(--text-color);
  font-style: normal;
  transition-duration: var(--transition-time);
  background-color: var(--bg-color);
  color: var(--text-color-light);
  border-radius: 25px;
  outline: 2px solid var(--border-color)
}

.other-courses-alone:hover {
  background-color: var(--bg-hover-color);
  color: var(--text-hover-color-light);
  outline-color: var(--border-hover-color);
  color: var(--text-color);
}

.course-content-image {
  margin: 1em;
  outline: 2px solid var(--border-color);
  transition-duration: var(--transition-time)
}

/* .course-content-embed-box {

} */

.course-content-embed {
  /* flex: 1 1 300px; */
  cursor: pointer;
  background-color: var(--text-color);
  color: var(--text-color-light);
  padding: 15px;
  border-radius: 25px;
  font-style: normal;
  outline: 2px solid var(--border-color);
  transition-duration: var(--transition-time);
  /* max-width: 640px;
  height: 480px; */
}

.course-content-embed:hover {
  background-color: var(--text-color-light);
  color: var(--text-color);
}

.course-text {
  /* max-width: 300px; */
  text-align: left;
  padding: 0 15px;
  flex-grow: 2;
  /* flex-shrink: 4; */
  /* flex: 1 1 300px; */
  /* outline: 2px solid salmon; */
}

.course-title {
  text-align: center;
}

.course-description {
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex: 3 0 300px;
  /* height: auto; */
  /* flex-grow: 2; */
  /* max-width: 500px; */
  /* min-width: 100px; */
  scroll-margin-top: 80px;
  border-radius: 25px;
  outline: 2px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--text-color-light);
  transition-duration: var(--transition-time)
}

.course-description:hover {
  background-color: var(--bg-hover-color);
  color: var(--text-hover-color-light);
  outline-color: var(--border-hover-color);
}

.course-description:hover .course-content-embed {
  outline-color: var(--text-color-light)
}

.course-description:hover a {
  color: var(--highlight-hover-color);
}


.course-description:hover .course-content-embed:hover {
  outline-color: var(--border-hover-color);
}

.course-description:hover .course-content-image {
  outline-color: var(--border-hover-color);
}

.experiences {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  gap: 1.5em;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.experiences-meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1.5em;
}

.experiences-titles {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1em;
  gap: 1em;
  h5, h3, h4 {
    margin: 0
  } 
}

.experiences-employer {
  font-size: 1.5em;
  margin: 0
}

.experiences-title {
  font-size: 1.25em;
  font-style: italic;
  margin: 0
}

.experiences-time {
  font-size: 1em;
  margin: 0
}

.experiences-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.experiences-description {
  flex: 1 1 300px;
  text-align: left;
}

.experiences-ind {
  list-style-type: none;
  display: flex;
  flex: nowrap;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  border-radius: 25px;
  outline: 2px solid var(--border-color);
  padding: 1em;
  transition-duration: var(--transition-time);
  background-color: var(--bg-color);
  color: var(--text-color-light);
}

.experiences-ind:hover {
  background-color: var(--bg-hover-color);
  color: var(--text-hover-color-light);
  outline-color: var(--border-hover-color);
  .domer-rover {
    outline: 2px solid var(--border-hover-color)
  }
}

.domer-rover {
  outline: 2px solid var(--border-color);
  transition-duration: var(--transition-time);
}

.projects {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  gap: 1.5em;
}

.project-ind {
  border-radius: 25px;
  flex: 1 1 400px; 
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  transition-duration: var(--transition-time);
  outline: 2px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--text-color-light);
  width: fit-content;
  /* width: max-content; */
  /* gap: 1.5em; */
  /* margin: 0 5%; */
}

.project-ind:hover {
  background-color: var(--bg-hover-color);
  color: var(--text-hover-color-light);
  color: var(--text-color);
  outline-color: var(--border-hover-color);

  code, a, em {
    color: var(--highlight-hover-color);
  } 
}

.project-ind:hover .shaderCanvas {
  outline-color: var(--border-hover-color)
}

.project-ind:hover .project-content {
  outline-color: var(--border-hover-color)
}

.project-title {
  padding: 0 0.25em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin: 0;
}

.project-content {
  height: auto;
  outline: 2px solid var(--border-color);
  transition-duration: var(--transition-time)
}

.description-project {
  /* flex: 1 0 300px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* max-width: max-content; */
  /* height: auto; */
  /* max-width: 300px; */
  padding: 0
  /* width: max-content; */
  /* min-width: 100px; */
  /* padding: 0 1em; */
  /* outline: 3px solid green */
}

.text-box-project {
  flex: 1 1 300px;
  height: auto;
  padding: 0 1em;
}

.contact-me-text {
  padding: 1em;
  margin: 0;
  max-width: 600px;
  border-radius: 25px;
  outline: 2px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--text-color-light);
  transition-duration: var(--transition-time);
}

.contact-me-text:hover {
  background-color: var(--bg-hover-color);
  color: var(--text-hover-color-light);
  outline-color: var(--border-hover-color);
  a, em, code {
    color: var(--highlight-hover-color);
  }
}

.credits {
  color: var(--credits-color);
}


.avatar {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  padding: auto;
}

.avatar-big {
  border-radius: 25%;
  object-fit:cover;
  object-position: 0 60%;
  outline: 2px solid var(--border-color);
  padding: auto;
}

.everything-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.5em;
  margin: 3em 15vw;
}

@media screen and (width <= 450px) {
  .everything-box {
    margin: 5vw;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 0.9em;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  } 

  .project-content {
    width: 40vw;
  }
  .shaderCanvas {
    width: 40vw;
    height: 40vw;
  }
  .domer-rover {
    width: 45vw;
    height: calc(45vw * 0.56)
  }
  .course-content-image {
    max-width: 40vw;
    /* max-height: 83vw; */
  }
  .avatar-big {
    height: 50vw;
    width: 50vw;
  }
  .navigation {
    display: none;
  }
  .hamburger-button {
    display: flex
  }
  #root {
    margin-top: 0;
  }
  .hamburger-navigation {
    left: -30em;
  }
}

@media screen and (width >= 751px) {
  .avatar-big {
    width: 300px;
    height: 300px;
  }
  .course-content-image {
    max-width: 300px;
    max-height: 500px;
  }
  .navigation {
    display: flex
  }
  .everything-box {
	margin-top: 6em;
  } 
  .hamburger-button {
    display: none
  }
  .hamburger-navigation {
    display: none
  }
  .domer-rover {
    width: 420px;
    height: 237px;
  }
  .shaderCanvas {
    width: 250px;
    height: 250px;
  }
  .project-content {
    width: 250px;
  }
  
}

@media screen and (width <= 750px) and (width >= 451px) {
  /* .everything-box {
    padding: 1em 1em;
  } */

  .everything-box {
    margin: 3em 15vw;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  } 
  .project-content {
    width: 40vw;
  }
  .shaderCanvas {
    width: 40vw;
    height: 40vw;
  }
  .domer-rover {
    width: 45vw;
    height: calc(45vw * 0.56)
  }
  .course-content-image {
    max-width: 40vw;
    /* max-height: 83vw; */
  }
  .avatar-big {
    height: 50vw;
    width: 50vw;
  }
  .navigation {
    display: none;
  }
  .hamburger-button {
    display: flex
  }
  #root {
    margin-top: 0;
  }
  .hamburger-navigation {
    left: -30em;
  }
  /* .course-content-embed {
    flex: 1 1 300px;
  } */
}

/*
@media screen and (width <= 735px) {
  .other-courses-w-courses {
    display: none
  } 
  .other-courses-alone {
    display: inline; 
  } 
} 
*/

