#root {
  /* max-width: 10000px;
  max-height */
  color: rgb(74, 68, 68);
  font-family:Arial, Helvetica, sans-serif;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  /* padding: 0 2em; */
  text-align: center;
  background-color: #fcfcfc;
  --accent-color: rgb(255, 51, 0);
  --black-color: rgb(20,20,20);
  --text-color: rgb(74, 68, 68);
  --transition-time: 200ms;
}

html {
  scroll-behavior: smooth;
}

.scroll-less {
  scroll-margin-top: 80px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
  /* display: inline; */
  align-content: center;
  top: 0;
  left: 0;
  /* height: min-content; */
  width: min-content;
  outline: 1px solid orange
}

.read-the-docs {
  color: #662e2e;
}

.blue {
  color: blue
}

.list {
  text-align: left;
  height: 2em;
  padding: 1em
}

.navigation {
  position: fixed;
  width: 100%;
  top: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--black-color);
  /* outline: 1px solid rgb(30, 255, 0); */
  z-index: 2;
}

.left-nav-items {
  display: flex;
  /* gap: 10px; */
  align-items: center;
}

.right-nav-items {
  display: flex;
  flex-direction: row-reverse;
  /* gap: 10px; */
  align-items: center;
}

.nav-item {
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;
  height: 50px;
  transition-duration: var(--transition-time);
}

.nav-item-github {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;
  height: 50px;
  transition-duration: var(--transition-time);
}

.nav-item-github:hover {
  background-color: var(--accent-color);
}

.nav-item-github:hover .github {
  content: url("/src/assets/github-mark/github-mark.svg");
  width: 20px;
  height: 20px;
}

.nav-item-linkedin {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;
  height: 50px;
  transition-duration: var(--transition-time);
}

.nav-item-linkedin:hover {
  background-color: var(--accent-color);
}

.nav-item-linkedin:hover .linkedin {
  content: url("/src/assets/in-logo/InBug-Black.png");
  width: 20px;
  height: 20px;
}

.nav-item:hover {
  background-color: var(--accent-color);
  color: black;
}

.text-box {
  flex: 1 1 200px;
  /* height: 500px; */
  max-width: 400px;
  min-width: 200px;
  padding: 1em 2em;
  outline: 2px solid green;
  /* background-color: red; */
}

.headers {
  display: flex;
  /* min-width: 200px; */
  /* width: 100%; */
  margin: 0 -10em;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  height: 75px;
  height: fit-content;
  align-items: center;
  /* outline: 2px solid rgb(43, 32, 32) */
  /* background-color: var(--); */
  color: var(--text-color);
}

.top-part {
  position: relative; /* Needed for absolute children */
  /* width: auto; */
  /* min-height:200px;
  max-height: 500px; */
  /* overflow: hidden; */
  margin-top: 50px;
  margin: 0 -10em;
  outline: 2px solid green;
}

.top-part-name {
  position: absolute;
  top: 40%;
  left: 50%;
  /* font-size: 5vw; */
  transform: translate(-50%, -50%);
  max-width: max-content;
  text-align: center;
  /* max-width: 500px; */
  /* height: max-content; */
  color: rgb(255, 255, 255);
}

.shaderCanvas {
  /* position: relative; */
  top: 0;
  left: 0;
  /* transform: translate(-100%,-50%); */
  width: 250px;
  height: 250px;
  cursor: pointer;
  /* display: block; */
  /* outline: 5px solid rgb(0, 255, 21); */
  /* z-index: 0; */
}​

.shaderBox {
  position: absolute;
  width: 100%;
  height: 200px;
  outline: 10px solid rgb(0, 255, 157);
  z-index: -1;
}

.header-description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  align-content: center;
  gap: 25px;
  /* margin-top: 100px; */
  /* padding: 100em; */
  /* margin: 0 5%; */
  
  scroll-margin-top: 80px;
  outline: 2px solid red;
  /* background-color: red; */
}

.header-image {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  outline: 2px solid pink;
}

.courses-as-a-whole {
  scroll-margin-top: 80px;
  /* background-color: black;
  color: white; */
  margin: 0 -10em;
  padding: 0 10em;
  background-color: white;
  color: black;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  /* outline: 1px solid rgb(71, 0, 251); */
}

.courses-header{
  display:flex;
  flex-wrap: nowrap;
  flex-direction: column;

}

.course-names {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: min-content;
  justify-content: center;
  align-self: flex-start;
  flex-grow: 1;
  /* outline: 1px solid yellow; */
}

.course-ind {
  /* flex: 1 1 400px; */
  /* max-width: 40%; */
  /* width: max-content; */
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 1em;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  /* align-content: left; */
  /* gap: 25px; */
  padding: 0 10px;
  /* outline: 1px solid red */
  background-color: var(--black-color);
  color: white;
  cursor: pointer;
  transition-duration: var(--transition-time);
}

.course-ind:hover {
  background-color: var(--accent-color);
  color: black;
}

.course-ind:visited {
  background-color: var(--accent-color);
  color: black;
}

.course-content-image {
  max-width: 300px;
  max-height: 500px;
}

/* .course-content-embed-box {

} */

.course-content-embed {
  /* flex: 1 1 300px; */
  cursor: pointer;
  background-color: var(--black-color);
  color: white;
  padding: 1em;
  border-radius: 10px;
  /* max-width: 640px;
  height: 480px; */
}

.course-content-embed:hover {
  background-color: var(--accent-color);
  color: black;
}

.course-text {
  /* max-width: 300px; */
  text-align: left;
  padding: 0 15px;
  flex-grow: 2;
  /* flex-shrink: 4; */
  flex: 1 1 300px;
  /* outline: 2px solid salmon; */
}

.course-title {
  text-align: center;
  font-size: 1.1em;
}

.course-description {
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  gap: 20px;
  flex: 2 1 300px;
  /* height: auto; */
  /* flex-grow: 2; */
  /* max-width: 500px; */
  min-width: 100px;
  padding: 10px;
  /* outline: 2px solid rgb(0, 255, 64) */
}

.experiences {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  flex-direction: column;
}

.experiences-meta {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap
}

.experiences-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.experiences-description {
  max-width: 500px;
  flex: 1 1 300px;
  text-align: left;
}

.experiences-ind {
  list-style-type: none;
  display: flex;
  flex: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

.projects {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  gap: 25px;
  outline: 1px solid yellow;
}

.project-ind {
  /* flex: 1 1 400px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  /* gap: 25px; */
  /* margin: 0 5%; */
  outline: 1px solid red
}

.description-project {
  /* flex: 1 0 50px; */
  /* max-width: max-content; */
  /* height: auto; */
  max-width: 300px;
  /* width: max-content; */
  /* min-width: 100px; */
  /* padding: 0 1em; */
  outline: 3px solid green
}

.text-box-project {
  text-align: left;
  height: auto;
  max-width: 500px;
  /* min-width: 50px; */
  /* padding: 2em; */
  outline: 2px solid rgb(0, 229, 255)
}

.avatar {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  padding: auto;
}

.avatar-big {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  object-fit: cover;
  object-position: center;
  padding: auto;
}

.everything-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em 10em;
}

@media screen and (max-width: 700px) {
  .everything-box {
    padding: 1em 1em;
  }
  .top-part {
    margin: 0 -1em;
  }
  h1 {
    font-size: 3em;
  }
  .course-content-embed {
    flex: 1 1 300px;
  }
}

