#root {
  /* max-width: 10000px;
  max-height */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black-color);
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  /* --accent-color: rgb(255, 51, 0); */
  --accent-color: rgb(255, 90, 61);
  --black-color: rgb(20,20,20);
  --text-color: rgb(74, 68, 68);
  --transition-time: 200ms;
  --padding-amount: 0.7em;
}

html {
  scroll-behavior: smooth;
  font-size: 1.05em;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

h1 {
  font-size: 7vw;
  line-height: 1.1;
}

h2 {
  font-size: 4vw;
  line-height: 1.1;
}

h3 {
  font-size: 2.5em;
  line-height: 1.1
}

h4 {
  font-size: 2em;
  line-height: 1.1;
  margin: 1em 0;
}

h5 {
  font-size: 1.5em;
  line-height: 1.1;
}

h6 {
  font-size: 1em;
  line-height: 1.1;
}

a {
  transition-duration: var(--transition-time);
  color: var(--accent-color);
  text-decoration: none;
  font-style: italic;
  .nav-item {
    font-style: normal;
  }
}

em {
  color: var(--accent-color);
  transition-duration: var(--transition-time);
  font-style: normal;
}

.scroll-less {
  scroll-margin-top: 80px;
}

.card {
  padding: 1em;
  /* display: inline; */
  align-content: center;
  top: 0;
  left: 0;
  /* height: min-content; */
  width: min-content;
  /* outline: 1px solid orange */
}

.card-big {
  padding: 1em;
  /* display: inline; */
  /* align-content: right; */
  top: 25%;
  left: 0;
  /* height: min-content; */
  width: min-content;
  /* outline: 1px solid orange */
}

.list {
  text-align: left;
  height: 2em;
  padding: 1em
}

.hamburger-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  outline: 2px solid var(--accent-color);
  background-color: var(--black-color);
  color: var(--black-color);
  position: fixed;
  top: 5px;
  left: 5px;
  cursor: pointer;
  transition-duration: var(--transition-time);
}

.hamburger-picture {
  transition-duration: var(--transition-time);
}

.hamburger-button:hover {
  background-color: var(--accent-color);
  outline-color: var(--black-color);
  .hamburger-picture {
    content: url("/src/assets/hamburger_black.svg")
  }
}
.hamburger-button:after {
  .hamburger-navigation {
    right: 0px;
  }
}

.hamburger-navigation {
  list-style-type: none;
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  background-color: var(--black-color);
  color:white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0;
  margin: 0;
  top: 0.5%;
  outline: 2px solid var(--accent-color);
  height: 99%;
  transition: left 0.25s, right 0.25s;
}

.top-hamburger-nav-item {
  border-top-right-radius: 25px;
  color: white;
  padding: 0.5em 0;
  padding-right: 1em;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.cross {
  cursor: pointer;
}

.hamburger-nav-item {
  color: white;
  height: 2.5em;
  width: 10em;
  font-size: 2em;
  transition-duration: var(--transition-time);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a .hamburger-nav-item {
  font-style: normal;
}

.hamburger-nav-item:hover {
  background-color: var(--accent-color);
  color: var(--black-color);
}

.hamburger-nav-item-github {
  height: 2.5em;
  width: 10em;
  font-size: 2em;
  transition-duration: var(--transition-time);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hamburger-github {
  transition-duration: var(--transition-time);
}

.hamburger-nav-item-github:hover {
  background-color: var(--accent-color);
  .hamburger-github {
    content: url('/src/assets/github-mark/github-mark.svg')
  }
}

.hamburger-linkedin {
  transition-duration: var(--transition-time);
}

.hamburger-nav-item-linkedin {
  height: 2.5em;
  width: 10em;
  font-size: 2em;
  transition-duration: var(--transition-time);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hamburger-nav-item-linkedin:hover {
  background-color: var(--accent-color);
  .hamburger-linkedin {
    content: url('/src/assets/in-logo/InBug-Black.png')
  }
}

.hamburger-github {
  width: 36px;
  height: 36px;
}

.hamburger-linkedin {
  width: 36px;
  height: 36px;
}

.hamburger-nav-item-language {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 1.5em;
  font-variation-settings: "wdth" 100;
  color: white;
  height: 2.5em;
  width: 10em;
  font-size: 2em;
  transition-duration: var(--transition-time);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hamburger-nav-item-language:hover {
  background-color: var(--accent-color);
  color: var(--black-color)
}

.navigation {
  position: fixed;
  width: 100%;
  height: 3.5em;
  top: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--black-color);
  border-bottom: 2px solid;
  border-color: var(--accent-color);
  z-index: 2;
}

.left-nav-items {
  display: flex;
  /* gap: 10px; */
  align-items: stretch;
  position: relative;
}

.right-nav-items {
  display: flex;
  flex-direction: row-reverse;
  /* gap: 10px; */
  align-items: stretch;
  position: relative;
}

.nav-item {
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 var(--padding-amount);
  height: 100%;
  transition-duration: var(--transition-time);
}

.nav-item:hover {
  background-color: var(--accent-color);
  color: var(--black-color);
}

.nav-item-language {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 1.5em;
  /* font-variation-settings: "wdth" 100; */
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 var(--padding-amount);
  transition-duration: var(--transition-time);
}

.nav-item-language:hover {
  background-color: var(--accent-color);
  color: var(--black-color)
}

.nav-item-github {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 var(--padding-amount);
  transition-duration: var(--transition-time);
}

.github {
  transition-duration: var(--transition-time)
}

.nav-item-github:hover {
  background-color: var(--accent-color);
  .github  {
    content: url("/src/assets/github-mark/github-mark.svg");
    width: 24px;
    height: 24px;
  }
}

.nav-item-linkedin {
  margin: auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 var(--padding-amount);
  transition-duration: var(--transition-time);
}

.linkedin {
  transition-duration: var(--transition-time);
}

.nav-item-linkedin:hover {
  background-color: var(--accent-color);
}

.nav-item-linkedin:hover .linkedin {
  content: url("/src/assets/in-logo/InBug-Black.png");
  width: 24px;
  height: 24px;
}

.text-box {
  flex: 1 1 250px;
  /* height: 500px; */
  max-width: 400px;
  /* min-width: 200px; */
  padding: 1em 1em;
  border-radius: 25px;
  outline: 2px solid var(--accent-color);
  transition-duration: var(--transition-time);
  /* background-color: red; */
}

.text-box:hover {
  background-color: var(--accent-color);
  outline-color: var(--black-color);
  a {
    color: white
  }
}

.headers {
  display: flex;
  /* min-width: 200px; */
  /* width: 100%; */
  /* margin: 0 -10em; */
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 75px;
  height: fit-content;
  /* background-color: var(--black-color); */
  color: var(--black-color);
}
/* 
.headers:hover {
  background-color: var(--accent-color);
  color: black;
  transition-duration: var(--transition-time)
} */

.top-part {
  position: relative; /* Needed for absolute children */
  /* width: auto; */
  /* min-height:200px;
  max-height: 500px; */
  /* overflow: hidden; */
  /* margin-top: 50px; */
  /* margin: 0 -10em; */
  /* outline: 2px solid green; */
}

.top-part-name {
  position: absolute;
  top: 40%;
  left: 50%;
  /* font-size: 5vw; */
  transform: translate(-50%, -50%);
  max-width: max-content;
  text-align: center;
  /* max-width: 500px; */
  /* height: max-content; */
  color: rgb(255, 255, 255);
}

.shaderCanvas {
  /* position: relative; */
  top: 0;
  left: 0;
  /* transform: translate(-100%,-50%); */
  width: 225px;
  height: 225px;
  cursor: pointer;
  outline: 2px solid var(--accent-color);
  transition-duration: var(--transition-time);
  /* display: block; */
  /* outline: 5px solid rgb(0, 255, 21); */
  /* z-index: 0; */
}​

.shaderBox {
  position: absolute;
  width: 100%;
  height: 200px;
  z-index: -1;
}

.header-description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  gap: 25px;
  /* width: 100%; */
  align-content: center;
  align-items: center;
  /* margin-top: 100px; */
  /* padding: 100em; */
  /* margin: 0 5%; */
  
  scroll-margin-top: 80px;
  /* outline: 2px solid red; */
  /* background-color: red; */
}

.header-image {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  /* outline: 2px solid pink; */
}

.courses-as-a-whole {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.other-courses {
  padding: 1em;
  border-radius: 25px;
  outline: 2px solid var(--accent-color);
  color: var(--black-color);
  transition-duration: var(--transition-time);
}

.other-courses:hover {
  background-color: var(--accent-color);
  outline-color: var(--black-color);
  a {
    color: white;
  }
}

.courses {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  /* outline: 1px solid rgb(71, 0, 251); */
}

.courses-header {
  display:flex;
  flex-wrap: nowrap;
  flex-direction: column;

}

.course-names {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* width: min-content; */
  justify-content: center;
  align-items: stretch;
  padding: 0;
  align-self: flex-start;
  gap: 10px;
  flex-grow: 1;
  /* border-radius: 25px; */
  /* outline: 1px solid var(--accent-color); */
}

.course-ind {
  /* flex: 1 1 400px; */
  /* max-width: 40%; */
  /* width: max-content; */
  list-style-type: none;
  background-color: white;
  color: var(--black-color);
  cursor: pointer;
  padding: 0 var(--padding-amount);
  transition-duration: var(--transition-time);
  border-radius: 10px;
  outline: 2px solid var(--accent-color)
}

.course-ind:hover {
  background-color: var(--accent-color);
  outline-color: var(--black-color);
  color: var(--black-color);
}

.course-ind:visited {
  background-color: var(--accent-color);
  color: black;
}

.course-content-image {

  outline: 2px solid var(--accent-color);
  transition-duration: var(--transition-time)
}

/* .course-content-embed-box {

} */

.course-content-embed {
  /* flex: 1 1 300px; */
  cursor: pointer;
  background-color: var(--black-color);
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-style: normal;
  outline: 2px solid var(--accent-color);
  transition-duration: var(--transition-time);
  /* max-width: 640px;
  height: 480px; */
}

.course-content-embed:hover {
  background-color: white;
  color: var(--black-color);
}

.course-text {
  /* max-width: 300px; */
  text-align: left;
  padding: 0 15px;
  flex-grow: 2;
  /* flex-shrink: 4; */
  /* flex: 1 1 300px; */
  /* outline: 2px solid salmon; */
}

.course-title {
  text-align: center;
  font-size: 1.1em;
}

.course-description {
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 20px;
  flex: 2 1 300px;
  /* height: auto; */
  /* flex-grow: 2; */
  /* max-width: 500px; */
  /* min-width: 100px; */
  padding: 10px;
  border-radius: 25px;
  outline: 2px solid var(--accent-color);
  transition-duration: var(--transition-time)
}

.course-description:hover {
  background-color: var(--accent-color);
  outline-color: var(--black-color);
}

.course-description:hover .course-content-embed {
  outline-color: white
}

.course-description:hover a {
  color: white
}


.course-description:hover .course-content-embed:hover {
  outline-color: var(--black-color);
}

.course-description:hover .course-content-image {
  outline-color: var(--black-color);
}

.experiences {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  gap: 20px;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.experiences-meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}

.experiences-titles {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1em;
}

.experiences-employer {
  font-size: 1.5em;
  margin: 0
}

.experiences-title {
  font-size: 1.25em;
  font-style: italic;
  margin: 0
}

.experiences-time {
  font-size: 1em;
  margin: 0
}

.experiences-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.experiences-description {
  flex: 1 1 300px;
  text-align: center;
  margin-bottom: 0
}

.experiences-ind {
  list-style-type: none;
  display: flex;
  flex: nowrap;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  border-radius: 25px;
  outline: 2px solid var(--accent-color);
  padding: 1em;
  transition-duration: var(--transition-time);
  .avatar {
    outline: 2px solid var(--accent-color);
    transition-duration: var(--transition-time);
  }
}

.experiences-ind:hover {
  background-color: var(--accent-color);
  outline-color: var(--black-color);
  .avatar {
    outline: 2px solid var(--black-color)
  }
  .domer-rover {
    outline: 2px solid var(--black-color)
  }
}

.domer-rover {
  outline: 2px solid var(--accent-color);
  transition-duration: var(--transition-time);
}

.projects {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  /* outline: 1px solid yellow; */
}

.project-ind {
  border-radius: 25px;
  /* flex: 1 1 400px; */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  transition-duration: var(--transition-time);
  outline: 2px solid var(--accent-color);
  /* width: max-content; */
  /* gap: 25px; */
  /* margin: 0 5%; */
}

.project-ind:hover {
  background-color: var(--accent-color);
  color: black;
  outline-color: var(--black-color)
}

.project-ind:hover .shaderCanvas {
  outline-color: var(--black-color)
}

.project-ind:hover .project-content {
  outline-color: var(--black-color)
}

.project-ind:hover a {
  /* color: var(--black-color) */
  color: white
}

.project-title {
  padding: 0 0.25em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin: 0;
}

.project-content {
  height: auto;
  outline: 2px solid var(--accent-color);
  transition-duration: var(--transition-time)
}

.description-project {
  /* flex: 1 0 300px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* max-width: max-content; */
  /* height: auto; */
  /* max-width: 300px; */
  padding: 0
  /* width: max-content; */
  /* min-width: 100px; */
  /* padding: 0 1em; */
  /* outline: 3px solid green */
}

.text-box-project {
  text-align: center;
  height: auto;
  max-width: 300px;
  padding: 0 1em;
}

.contact-me-text {
  text-align: center;
  padding: 1em;
  margin: 0;
  max-width: 600px;
  border-radius: 25px;
  outline: 2px solid var(--accent-color);
  transition-duration: var(--transition-time);
}

.contact-me-text:hover {
  background-color: var(--accent-color);
  outline-color: var(--black-color);
  a, em {
    color: white;
  }
}

.credits {
  color: gray;
}

.credits-line {
  width:100%;
  overflow: visible;
}

.avatar {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  padding: auto;
}

.avatar-big {
  border-radius: 50%;
  top: 0;
  object-fit:cover;
  object-position: 0 0;
  outline: 2px solid var(--accent-color);
  padding: auto;
}

.everything-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1em;
  margin: 3em 15vw;
}

@media screen and (max-width: 450px) {
  .everything-box {
    margin: 1em 5vw;
  }

  .project-content {
    width: 40vw;
  }
  .shaderCanvas {
    width: 40vw;
    height: 40vw;
  }
  .domer-rover {
    width: 45vw;
    height: calc(45vw * 0.56)
  }
  .course-content-image {
    max-width: 40vw;
    /* max-height: 83vw; */
  }
  .avatar-big {
    height: 50vw;
    width: 50vw;
  }
  .navigation {
    display: none;
  }
  .hamburger-button {
    display: flex
  }
  #root {
    margin-top: 0;
    font-size: 0.8em;
  }
  h1 {
    font-size: 3em;
  }
  .hamburger-navigation {
    left: -30em;
  }
}

@media screen and (min-width: 751px) {
  .avatar-big {
    width: 300px;
    height: 300px;
  }
  .course-content-image {
    max-width: 300px;
    max-height: 500px;
  }
  .navigation {
    display: flex
  }
  #root {
    margin-top: 3em;
    font-size: 1.05em;
  }
  .hamburger-button {
    display: none
  }
  .hamburger-navigation {
    display: none
  }
  .domer-rover {
    width: 420px;
    height: 237px;
  }
  .shaderCanvas {
    width: 250px;
    height: 250px;
  }
  .project-content {
    width: 250px;
  }
  
}

@media screen and (max-width: 750px) and (min-width: 451px) {
  /* .everything-box {
    padding: 1em 1em;
  } */

  .everything-box {
    margin: 3em 15vw;
  }

  .project-content {
    width: 40vw;
  }
  .shaderCanvas {
    width: 40vw;
    height: 40vw;
  }
  .domer-rover {
    width: 45vw;
    height: calc(45vw * 0.56)
  }
  .course-content-image {
    max-width: 40vw;
    /* max-height: 83vw; */
  }
  .avatar-big {
    height: 50vw;
    width: 50vw;
  }
  .navigation {
    display: none;
  }
  .hamburger-button {
    display: flex
  }
  #root {
    margin-top: 0;
    font-size: 0.8em;
  }
  h1 {
    font-size: 3em;
  }
  .hamburger-navigation {
    left: -30em;
  }
  /* .course-content-embed {
    flex: 1 1 300px;
  } */
}

