html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

code {
  font-family: "Roboto Mono", monospace;
  color: var(--accent-color);
  margin: 0 0.2em;
} 

pre {
  overflow-x: scroll;
  border-radius: 25px;
  outline: 2px solid var(--accent-color);
  font-size: 10pt;
} 

a:hover {
  text-decoration: underline
} 

blockquote {
  p {
	margin: 0
  } 
  blockquote {
    margin-left: 0.25em;
  } 
  font-size: 10pt;
  border-left: 5px solid var(--accent-color);
  background-color: var(--accent-color-bg-pale);
  /*
  border-right: 2px solid var(--accent-color);
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  */
  border-radius: 0 25px 25px 0;
  /*
  background-image: linear-gradient(to right, var(--accent-color-bg), var(--accent-color-bg-pale));
  */
  padding: 1em 1em;
  margin: 0;
  margin-left: 1em;
  transition-duration: var(--transition-time);
} 

blockquote:before {
  margin-right: 0.25em;
} 

blockquote:hover {
  background-color: var(--accent-color-bg);
} 

.main-box {
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 2em;
  margin-right: 2em;
} 

.title-and-date {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 1em;
} 

.title {
} 

.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
} 

.blog-container {
  flex: 2 1 400px;
  padding: 0;
  margin: 0;
  max-width: 700px;
  min-width: 0px;
} 

.blog {
  flex: 1 1 300px;
  padding: 1em 2em;
  border-radius: 25px;
  outline: 2px solid var(--black-color)
} 

.blog-select-title {
  margin: 0.25em 0;
}

.blog-line {
  color: var(--black-color);
  overflow: visible;
  width: 100%;
} 

.blog-select-ham {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0.5em 1em;
  gap: 1em;
  height: 100%;
  width: 10em;
  list-style-type: none;
  position: fixed;
  background-color: white;
  transition-duration: var(--transition-time);
  outline: 2px solid var(--black-color);
  .blog-select-title {
	margin: 0
  } 
} 

.blog-select {
  list-style-type: none;
  /*
  position: fixed;
  */
  width: 10em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1em;
  padding: 1em 1em;
  margin: 0;
} 

.blog-select2 {
  list-style-type: none;
  /*
  position: fixed;
  */
  width: 20em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1em;
  padding: 1em 1em;
  margin: 0;
} 

.blog-ind {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 25px;
  padding: 0.5em 0.5em;
  outline: 2px solid var(--accent-color);
  transition-duration: var(--transition-time);
  color: var(--black-color);
  font-style: normal
} 

.blog-ind:hover {
  background-color: var(--accent-color);
  text-decoration: none;
  outline: 2px solid var(--black-color);
} 

.avatar {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  padding: auto;
  outline: 2px solid var(--accent-color);
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1 0;
  gap: 1em;
} 

.about-me2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
} 

.about-me-header {
  margin-top: 0.5em;
  margin-bottom: 0
} 

.about-me-text {
  text-align: left;
  padding: 1em;
  margin: 0;
  max-width: 300px;
  border-radius: 25px;
  outline: 2px solid var(--accent-color);
  transition-duration: var(--transition-time);
}

.about-me-text:hover {
  background-color: var(--accent-color);
  outline-color: var(--black-color);
  a, i {
    color: white;
  }
}

.credits {
  color: gray;
  text-align: center;
}

.credits-line {
  width: 100%;
  overflow: visible;
}

.hamburger-button2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  outline: 2px solid var(--accent-color);
  background-color: var(--black-color);
  color: var(--black-color);
  position: fixed;
  top: 5px;
  left: 5px;
  cursor: pointer;
  transition-duration: var(--transition-time);
}

.hamburger-picture {
  transition-duration: var(--transition-time);
}

.hamburger-button2:hover {
  background-color: var(--accent-color);
  outline-color: var(--black-color);
  .hamburger-picture {
    content: url("/src/assets/hamburger_black.svg")
  }
}
.hamburger-button2:after {
  .hamburger-navigation {
    right: 0px;
  }
}

.ham-exit {
  padding: 0; 
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
} 

.cross {
  cursor: pointer;
}

@media screen and (width <= 685px) {
  .blog-select {
	display: none
  } 
  .hamburger-button2 {
	display: flex
  } 
  .main-box {
	margin-top: 4em;
	margin-left: 5vw;
	margin-right: 5vw;
  } 
} 

@media screen and (width > 685px) {
  .hamburger-button2 {
	display: none
  } 
  .blog-select-ham {
	left: -15em;
  } 
} 

