pre {
  border-radius: 25px;
  outline: 2px solid var(--border-color);
  font-size: 10pt;
  code {
    background-color: transparent;
  } 
} 

blockquote {
  p {
	margin: 0
  } 
  blockquote {
    margin-left: 0.25em;
  } 
  code {
    background-color: transparent;
  } 
  font-size: 10pt;
  border-left: 5px solid var(--border-color);
  background-color: var(--bg-color-pale);
  /*
  border-right: 2px solid var(--accent-color);
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  */
  border-radius: 0 25px 25px 0;
  /*
  background-image: linear-gradient(to right, var(--accent-color-bg), var(--accent-color-bg-pale));
  */
  padding: 1em 1em;
  margin: 0;
  margin-left: 1em;
  transition-duration: var(--transition-time);
} 

blockquote:before {
  margin-right: 0.25em;
} 

blockquote:hover {
  background-color: var(--bg-hover-color-pale);
} 

.main-box {
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin: 3em 2em;
} 

.title-and-date {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 1em;
} 

.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
} 

.note-container {
  flex: 1 1 400px;
  padding: 0;
  margin: 0;
  min-width: 0px;
  max-width: 700px;
} 

.note {
  flex: 1 1 300px;
  padding: 1em 2em;
  border-radius: 25px;
  outline: 2px solid var(--border-color)
} 

.note-select-title {
  margin: 0.25em 0;
}

.note-line {
  color: var(--border-color);
  overflow: visible;
  width: 100%;
} 

.note-select-ham {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0.5em 1em;
  gap: 1em;
  height: 100%;
  width: 10em;
  list-style-type: none;
  position: fixed;
  background-color: white;
  transition-duration: var(--transition-time);
  outline: 2px solid var(--border-color);
  .note-select-title {
	margin: 0
  } 
} 

.note-select {
  list-style-type: none;
  /*
  position: fixed;
  */
  width: 10em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1em;
  padding: 1em 1em;
  margin: 0;
} 

.note-select2 {
  list-style-type: none;
  /*
  position: fixed;
  */
  width: 20em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1em;
  padding: 1em 1em;
  margin: 0;
} 

.note-ind {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 25px;
  padding: 0.5em 0.5em;
  outline: 2px solid var(--border-color);
  transition-duration: var(--transition-time);
  color: var(--text-button-color-light);
  background-color: var(--bg-button-color);
  font-style: normal
} 

.note-ind:hover {
  background-color: var(--bg-button-hover-color);
  color: var(--text-button-hover-color-light);
  text-decoration: none;
  outline: 2px solid var(--border-hover-color);
} 

.note-ind-select {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 25px;
  padding: 0.5em 0.5em;
  outline: 2px solid var(--border-hover-color);
  transition-duration: var(--transition-time);
  color: var(--text-button-hover-color-light);
  background-color: var(--bg-button-hover-color-alt);
  font-style: normal
} 

.note-ind-select:hover {
  text-decoration: none;
} 

.avatar {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  padding: auto;
  outline: 2px solid var(--border-color);
}

.about-me {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1 0;
  gap: 1em;
} 

.about-me2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
} 

.about-me-header {
  margin-top: 0.5em;
  margin-bottom: 0
} 

.about-me-text {
  text-align: left;
  padding: 1em;
  margin: 0;
  max-width: 300px;
  border-radius: 25px;
  outline: 2px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--text-color-light);
  transition-duration: var(--transition-time);
}

.about-me-text:hover {
  background-color: var(--bg-hover-color);
  color: var(--text-hover-color-light);
  outline-color: var(--border-hover-color);
  a, i {
    color: var(--highlight-hover-color);
  }
}

.credits {
  color: var(--credits-color);
  text-align: center;
}

.hamburger-button2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  outline: 2px solid var(--border-color);
  background-color: var(--nav-color);
  color: var(--nav-color);
  position: fixed;
  top: 5px;
  left: 5px;
  cursor: pointer;
  transition-duration: var(--transition-time);
}

.hamburger-picture {
  transition-duration: var(--transition-time);
}

.hamburger-button2:hover {
  background-color: var(--nav-hover-color);
  outline-color: var(--border-hover-color);
  .hamburger-picture {
    content: url("/src/assets/hamburger_black.svg")
  }
}
.hamburger-button2:after {
  .hamburger-navigation {
    right: 0px;
  }
}

.ham-exit {
  padding: 0; 
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
} 

.cross {
  cursor: pointer;
}

.content {
  width: 100%;
  outline: 2px solid var(--border-color);
  transition-duration: var(--transition-time)
}

@media screen and (width <= 685px) {
  .note-select {
	display: none
  } 
  .hamburger-button2 {
	display: flex
  } 
  .main-box {
	margin-top: 4em;
	margin-left: 5vw;
	margin-right: 5vw;
  } 
} 

@media screen and (width > 685px) {
  .hamburger-button2 {
	display: none
  } 
  .note-select-ham {
	left: -15em;
  } 
} 

